body { 
    font-family: Arial, sans-serif; 
    color: #03121b;
    line-height: 150%;
}

.alert {
    padding: 15px;
    font-size: 14px;
    line-height: 1.4;
    border: 2px solid #115A83;
    background: #e0f4ff;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.code {
    color: black;
    margin: 25px;
    border-left: 4px solid #1d9ae0;
    padding: 10px;
    background-color: #b9d2e0;
    font-size: 14px;
    line-height: 100%;
}

.footer {
    color: white;
    background-color: #0c415e;
}

.footer a {
    color: white;
}

.center {
    text-align: center;
}


#mapPlugin  {
    border: 1px solid #000000;
    overflow: auto;
    width: 100%
}
#mapPlugin div.mapViewport {float: left;
    width: 720px;
}
#mapPlugin div.mapControls {float: left;
    width: 220px;
}
